---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tautulli
  namespace: tautulli
spec:
  storageClassName: longhorn-single
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
