apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: loki-stack
data:
  config.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100
      grpc_listen_port: 9095

    common:
      path_prefix: /loki
      replication_factor: 1
      ring:
        instance_addr: 127.0.0.1
        kvstore:
          store: inmemory

    schema_config:
      configs:
      - from: 2020-10-24
        store: boltdb-shipper
        object_store: filesystem
        schema: v11
        index:
          prefix: index_
          period: 24h

    storage_config:
      boltdb_shipper:
        active_index_directory: /loki/index
        cache_location: /loki/cache
      filesystem:
        directory: /loki/chunks

    limits_config:
      ingestion_rate_mb: 4
      ingestion_burst_size_mb: 8
      max_global_streams_per_user: 0
      allow_structured_metadata: false

    compactor:
      working_directory: /loki/compactor

    chunk_store_config:

    table_manager:
      retention_deletes_enabled: true
      retention_period: 0s
