apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: notifiarr-config
  namespace: notifiarr
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
