---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kavita
  namespace: kavita
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kavita
  template:
    metadata:
      labels:
        app: kavita
    spec:
      containers:
      - name: kavita
        image: jvmilazz0/kavita:0.8.7
        env:
        - name: TZ
          value: "America/Chicago"
        ports:
        - containerPort: 5000
          name: http
        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 6
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 6
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1Gi
        volumeMounts:
        - mountPath: /kavita/config
          name: config
        - mountPath: /comics
          name: comics
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: kavita
      - name: comics
        nfs:
          server: 192.168.1.38
          path: /mnt/TrueNAS/comics
