---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kavita
  namespace: kavita
spec:
  storageClassName: longhorn-single
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
