---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
  namespace: prometheus
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`prometheus.tehmatt.com`)
    kind: Rule
    services:
    - name: prometheus
      port: 9090
      passHostHeader: false
    middlewares:
    - name: default-headers
  tls: {}
