---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: calibre-config
  namespace: calibre
spec:
  storageClassName: longhorn-single
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
