---
apiVersion: v1
kind: Service
metadata:
  name: sabnzbd
  namespace: sabnzbd
  annotations:
    kube-vip.io/loadbalancerIPs: "192.168.2.132"
spec:
  selector:
    app: sabnzbd
  ports:
  - name: http
    port: 8080
    targetPort: 8585
    protocol: TCP
  type: LoadBalancer
