---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sabnzbd
  namespace: sabnzbd
spec:
  storageClassName: longhorn-single
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
