---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr
  namespace: radarr
spec:
  storageClassName: longhorn-static
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
