apiVersion: v1
kind: Service
metadata:
  labels:
    app: homepage
  name: homepage
  namespace: homepage
spec:
  ports:
  - port: 3000
    targetPort: 3000
  selector:
    app: homepage
  externalTrafficPolicy: Local
  loadBalancerIP: 192.168.2.130
  type: LoadBalancer
