version: '3.9'
services:
  mylar3:
    image: lscr.io/linuxserver/mylar3:latest
    container_name: mylar3
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - /home/matt/mylar3/:/config
      - comics:/comics
      - torrent-dls:/downloads
    ports:
      - 8090:8090
    restart: unless-stopped

  openaudible:
    image: openaudible/openaudible:latest
    container_name: openaudible
    ports:
      - 13380:80
      - 3033:3000
    volumes:
      - audiobook-uploads:/uploads
      - /home/matt/oa-matt:/config
    restart: unless-stopped

  nordlynx:
    image: ghcr.io/bubuntux/nordlynx:2025-05-01
    container_name: nordlynx
    cap_add:
      - NET_ADMIN                             # required
      - SYS_MODULE                            # maybe
    environment:
      - PRIVATE_KEY=${NORDLYNX_KEY}
      - QUERY=filters\[servers_groups\]\[identifier\]=legacy_p2p
      - NET_LOCAL=192.168.0.0/16
      - TZ=America/Chicago
    ports:
      - 8089:8089 # qbittorrent web interface
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.conf.all.rp_filter=2
      - net.ipv6.conf.all.disable_ipv6=1
    restart: unless-stopped

  qbittorrent:
    image: linuxserver/qbittorrent:20.04.1
    network_mode: service:nordlynx
    container_name: qbittorrent
    depends_on:
      - nordlynx
    environment:
      - WEBUI_PORT=8089
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
      - NETWORK=192.168.1.0/24  # So it can be accessed within the local network
        #ports:
        #- 8089:8089
    volumes:
      - /home/matt/qbittorrent:/config
      - torrent-dls:/downloads
    restart: unless-stopped

  qbittorrentnovpn:
    image: lscr.io/linuxserver/qbittorrent:20.04.1
    container_name: qbittorrentnovpn
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
      - WEBUI_PORT=8484
      - TORRENTING_PORT=6881
    volumes:
      - /home/matt/qbittorrentnovpn:/config
      - torrent-dls:/downloads
    ports:
      - 8484:8484
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped

  handbrake:
    image: jlesage/handbrake:v25.07.2
    container_name: handbrake
    ports:
      - 5800:5800
    volumes:
      - /home/matt/handbrake:/config
      - handbrake:/storage 
      - handbrake:/watch
      - handbrake:/output
    restart: unless-stopped

  homebridge:
    image: homebridge/homebridge:2024-12-11
    container_name: homebridge
    network_mode: host
    volumes:
      - /home/matt/homebridge:/homebridge
    logging:
      driver: json-file
      options:
        max-size: '10m'
        max-file: '1'
    healthcheck:
      test: curl --fail localhost:8581 || exit 1
      interval: 60s
      retries: 5
      start_period: 300s
      timeout: 2s
    restart: unless-stopped

  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:2025.8.1
    volumes:
      - /home/matt/homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    network_mode: host
    restart: unless-stopped

  calibre:
    image: ghcr.io/linuxserver/calibre:8.8.0
    container_name: calibre
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /home/matt/calibre:/config
      - book-uploads:/uploads
      - book-plugins:/plugins
    ports:
      - 8383:8080
      - 8283:8081
    restart: unless-stopped

  calibre-web:
    image: lscr.io/linuxserver/calibre-web:5.33.2
    container_name: calibre-web
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
      - DOCKER_MODS=linuxserver/mods:universal-calibre #optional
      - OAUTHLIB_RELAX_TOKEN_SCOPE=1 #optional
    volumes:
      - /home/matt/calibre:/config
      - books:/books
    ports:
      - 8083:8083
    restart: unless-stopped

  uptimekuma:
    image: docker.io/louislam/uptime-kuma:1.23.16
    container_name: uptimekuma
    ports:
      - 3001:3001
    volumes:
      - /home/matt/uptimekuma:/app/data
    restart: unless-stopped

  starcraft:
    image: docker.io/ageo24/sc-bw-vnc:1.0
    container_name: starcraft
    ports:
      - 7070:8080
    restart: unless-stopped
    
  ollama:
    image: ollama/ollama:0.9.6
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - /home/matt/ollama:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    restart: always

  openwebui:
    image: ghcr.io/open-webui/open-webui:0.6.22
    container_name: open-webui
    ports:
      - "3008:8080"
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - /home/matt/open-webui:/app/backend/data
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    labels:
      - traefik.enable=true
      - traefik.http.routers.openwebui.rule=Host(`ollama.tehmatt.com`)
      - traefik.http.routers.openwebui.entrypoints=websecure
      - traefik.http.routers.openwebui.tls.certresolver=letsencrypt
      #- traefik.http.routers.openwebui.middlewares=tinyauth
    restart: always
    
volumes: 
  semaphore-mysql:
  tv:
    external: true
  movies:
    external: true
  comics:
    external: true
  books:
    external: true
  book-uploads:
    external: true
  book-plugins:
    external: true
  nzb-dls:
    external: true
  torrent-dls:
    external: true
  b-dls:
    external: true
  audiobooks:
    external: true
  audiobook-uploads:
    external: true
  podcasts:
    external: true
  handbrake:
    external: true
  netboot:
    external: true