---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr
  namespace: sonarr
spec:
  storageClassName: longhorn
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
