---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: audiobookshelf
  namespace: audiobookshelf
spec:
  entryPoints:
  - websecure
  routes:
  - kind: Rule
    match: Host(`abs.tehmatt.com`)
    services:
    - name: audiobookshelf
      port: 80
    middlewares:
    - name: default-headers
      namespace: audiobookshelf
  tls:
    certResolver: letsencrypt
