---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: audiobookshelf
  namespace: audiobookshelf
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`abs.tehmatt.com`) # TODO: change to your domain
    kind: Rule
    services:
    - name: audiobookshelf
      port: 13378
  tls: {}
