apiVersion: v1
kind: Service
metadata:
  name: cadvisor
  namespace: prometheus
  labels:
    app: cadvisor
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: cadvisor
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
