---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: vault
  namespace: vault
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`vault.tehmatt.com`)
    kind: Rule
    services:
    - name: vault
      namespace: vault
      port: 8200
      passHostHeader: true
  tls:
    secretName: tehmatt-tls
