---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: grafana
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`grafana.tehmatt.com`)
    kind: Rule
    services:
    - name: grafana
      port: 3000
      passHostHeader: false
    middlewares:
    - name: default-headers
  tls: {}
