---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: readarr
  namespace: readarr
spec:
  storageClassName: longhorn-static
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
