---
apiVersion: v1
kind: Service
metadata:
  name: readarr
  namespace: readarr
spec:
  selector:
    app: readarr
  ports:
  - name: http
    port: 8787
    targetPort: 8787
    protocol: TCP
  type: LoadBalancer
