apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
  namespace: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      nodeSelector:
        worker: "true"
      containers:
      - name: mealie
        image: ghcr.io/mealie-recipes/mealie:v3.0.2
        ports:
        - containerPort: 9000
          name: http
        env:
        - name: ALLOW_SIGNUP
          value: "true"
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: "America/Chicago"
        - name: MAX_WORKERS
          value: "1"
        - name: WEB_CONCURRENCY
          value: "1"
        - name: BASE_URL
          value: "https://mealie.tehmatt.com"
        volumeMounts:
        - name: data
          mountPath: /app/data
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "1000Mi"
            cpu: "1000m"
        livenessProbe:
          httpGet:
            path: /api/app/about
            port: 9000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/app/about
            port: 9000
          initialDelaySeconds: 10
          periodSeconds: 5
      volumes:
      - name: data
        nfs:
          server: 192.168.1.38
          path: /mnt/TrueNAS/proxmox/config/mealie
