name: Linux Command Workflow

on:
  push:
    paths:
      - 'compose/docker-compose.yml' # Triggers if this specific file changes
    branches:
      - main

jobs:
  build:
    runs-on: [self-hosted]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Run Docker Compose
        run: |
          docker compose -f compose/docker-compose.yml up --quiet-pull -d