---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: overseerr
  namespace: overseerr
  labels:
    app: overseerr
    app.kubernetes.io/instance: overseerr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: overseerr
  template:
    metadata:
      labels:
        app: overseerr
    spec:
      nodeSelector:
        worker: "true"
      containers:
      - name: overseerr
        image: linuxserver/overseerr:1.34.0
        env:
        - name: TZ
          value: America/Chicago
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        ports:
        - containerPort: 5055
          protocol: TCP
        volumeMounts:
        - name: overseerr
          mountPath: /config
      volumes:
      - name: overseerr
        nfs:
          server: 192.168.1.38
          path: /mnt/TrueNAS/proxmox/config/overseerr
