---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: overseerr
  namespace: overseerr
spec:
  storageClassName: longhorn-single
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
